/* Seleciona TODOS elementos */
*{
    margin: 0px;
    padding: 0px;
}


/* SELETOR POR TAG */
body{
    background-color: azure;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

/* SELETOR POR ID */
#topo{
    background-color: rgb(43, 128, 226);

    margin-top: 15px;
    margin-bottom: 15px;
    border: 10px solid darkorchid;;
    border-radius: 10px;
    padding: 10px;
}

/* SELETOR POR CLASSE */
.texto-top{
    font-style: italic;
    text-decoration: underline;
    font-size: 25px;
}

/* Estiliza os elementos com a classe bloco */
.bloco{
    background-color: bisque;
    margin-bottom: 20px;
    padding: 20px;
    border: 5px solid darkorchid;
    /* arredondar borda */
    border-radius: 20px;
}

.destaque{
    background-color: goldenrod;
    font-style: bold;
    font-style: darkred;
}

.texto-destaque{
    font-weight: bold;
    color: darkred;
}

#caixa-unica{
    padding: 10px;
    border: 2px purple;
    background-color: #ede9fe;
}

div p{
    color: blue;
}

/* SELECIONA TODOS O 'P' QUE SÃO FILHOS DIRETOS DA CLASSE ESPECIFICA */
.pai-direto > p{
    color: darkcyan;
    padding: 5px;
}

/* SELECIONA TODO 'p' QUE VEM LOGO APÓS UM H3, DESDE QUE SEJA IRMÃO */
h2 + h3 + p{
    color: red;
}

/* SELECIONA TODOS OS 'p' QUE VEM APÓS O H4, DESDE QUE SEJAM IRMÕES */
h3 ~ p{
    background-color: blueviolet;
    color: #ede9fe;
}

/* SELECIONA POR ATRIBUTOS ESPECIFICOS */

/* SELECIONA TODOS OS INPUTS, QUE TENHAM O TIPO DE TEXTO */
input[type="text"]{
    border: 3px solid orange;
    padding: 8px;
    margin-right: 10px;
}

/* SELECIONA TODOS OS LINKS QUE TENHAM ESSE VALOR NO HREF */
a[href*="microsoft"]{
    color: green;
    font-weight: bolder;
}
h5, h6,  h2{
    color: purple;
    margin: 5px 0px;
    font-weight: bolder;
}

/* SELECIONA O ELEMENTO QUE TEM AS DUAS CLASSES AO MESMO TEMPO */
.botao.ativo{
    color: purple;
    padding: 50px;
    font-size: 30px;
}

/* SELECIONA O'p' DESDE QUE TENHA A CLASSE AVISO */
p.aviso{
    color: chartreuse;
}

/* SELECIONA APENAS A DIV QYE TENHA O ID PAINEL */
div#painel{
    background-color: red;
    padding: 30px;
}

/* SELECIONANDO FILHO DENTRO DE FILHO */
#menu ul li a{
    color: violet;
}

