*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: wheat;
    height: 7000px;
}

.pai{
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.filho{
    height: 50px;
    width: 50px;
    background-color: purple;
}

/* POSICIONAMENTO ESTATICO */

#pai-estatico{
    background-color: crimson;
    position: static;
}

#fi-estatico{

    background-color: darkgoldenrod;
}

/* TIPO FIXO */
#pai-fixo{
    background-color: white;
    position: fixed;
    /* top: 50px;
    left: 100px;  */
    bottom: 10px;
    right: 30px; 
    z-index: -1;
}

#fi-fixo{
    background-color: black;
}

/* TIPO STICKY */
#pai-grudado{
    background-color: yellowgreen;
    height: 1200px;
    width: 1000px;
}

#fi-grudado{
    background-color: chocolate;
    position: sticky;
    top: 10px;
    left: 15px;
}

/* TIPO RELATIVO */
#pai-relativo{
    background-color: cornflowerblue;
    position: absolute;
}

#fi-relativo{
    background-color: deeppink;
    position: relative;
    /* top: 15px;
    left: 15px; */
    bottom: 20px;
    right: 10px;
}

/* TIPOS ABSOLUTOS */

/* ABSOLUTE COM PAI ESTATICO */
#pai-absoluto{
    background-color: darkslateblue;
    position: static;
}

#fi-absoluto{
    background-color:palevioletred  ;
    position: absolute;
    left: 500px;
}

/* ABSOLUTE COM PAI NÃO ESTÁTICO */
#pai-abs-rel{
    background-color: cyan;
    position: relative;
    top: 50px;
}

#fi-abs-rel{
    background-color: yellow;
    position: absolute;
    top: 100px;
}