*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    color: white;
}

/* VARIÁVEIS */
:root{
    --font-main: "Segoe UI", sans-serif;
    --color-primary: red;
    --color-text: #222;
    --color-bg-page: #f4f4f4;
    --color-bg-box: #e5e7eb;
    --color-white: white;
    --color-gray: gray;

    /* ESTADOS E EXEPLOS */
    --blue-bg: #dbceaf;
    --blue-border: #2563eb;
    --green-bg: #dcfce7;
    --green-border: #16a34a;
    --yellow-bg: #fef3c7;
    --yellow-border: #d97706;

    /* COMPARAÇÃO */
    --comparacao-block-bg: lightblue;
    --comparacao-inline-bg: lightgreen;
    --comparacao-inline-block-bg: #fde68a;
    --observacao-bg: #f3f4f6;

    /* MEDIDAS */
    --radius: 10px;
    --gap: 10px;
}

/* ESTILO GERAL */
body{
    font-family: var(--font-main);
    background-color: var(--color-bg-page);
    color: var(--color-text);
    margin: 20px
}

h1, h2{
    color: var(--color-primary);
    text-align: center;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

h3{
    margin-top: 25px;
}

p{
    line-height: 1.7;
}

.bloco{
    background-color: var(--color-white);
    border: 2px solid var(--color-gray);
    border-radius: var(--radius);
    padding: 20px;
    margin-bottom: 20px;
}

/* COMPARAÇÃO */
.comparacao{
    border: 2px dashed var(--color-gray);
    padding: 15px;
    margin-bottom: 20px;

}

/* OBSERVAÇÃO */
.observacao{
    background-color: var(--observacao-bg);
    border-left: 5px solid var(--color-primary);
    padding: 12px;
}

/* Display Block */
.exemplo-block div {
    display: block;
    background-color: var(--blue-bg);
    border: 2px solid var(--blue-border);
    padding: 15px;
    margin-bottom: 8px;
    width: 50%;
}

.comparacao.block div{
    display: block;
    background-color: var(--comparacao-block-bg);
    padding: 10px;
    margin-bottom: 5px;
}

/* Display Inline */
.exemplo-inline span{
    display: inline;
    background-color: var(--green-bg);
    border: 2px solid var(--green-border);
    margin-left: 50px;
    margin-bottom: 50px;
}

.comparacao.inline span{
    display: inline;
    background-color: var(--comparacao-inline-bg);
    padding: 10px;
    margin-bottom: 5px;
}

/* Display Inline-Block */
.exemplo-inline-block div{
    display: inline-block;
    background-color: var(--yellow-bg);
    border: 2px solid var(--yellow-border);
    margin-left: 50px;
    width: 150px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    line-height: 80px;
    border-radius: 100px;
}

.comparacao.inline-block div{
    display: inline-block;
    background-color: var(--comparacao-inline-block-bg);
    padding: 10px;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;

}

/* Display None */
.none-exemplo{
    display: flex;
    gap: var(--gap);
    background-color: var(--color-bg-box);
    padding: 20px;
}

.none-exemplo div{
    flex: 1;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 25px;
    text-align: center;
}

.none-exemplo .elemento-oculto{
    display: none;
}

/* Display Flex */
.exemplo-flex{
    display: flex;
    background-color: var(--color-bg-box);
    padding: 20px;
    gap: var(--gap);
}

.exemplo-flex div{
    background-color: var(--color-primary);
    padding: 25px;
    width: 90px;
    /* aumenta */
    flex-grow: 0;
    /* diminui */
    flex-shrink: 0;
    /* os dois */
    flex:1 ;
    text-align: center;
}

/* Flex Direction */
.flex-direction-row{
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    background-color: var(--color-bg-box);
    padding: 15px;
}

.flex-direction-row div, .flex-direction-column div{
    background-color: var(--color-primary);
    padding: 15px;
    text-align: center;
}

.flex-direction-column{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background-color: var(--color-bg-box);
    padding: 15px;
}

/* Justify content */
/* Caixas internas */
.justify-start div, .justify-center div, .justify-between div{
    background-color: var(--color-primary);
    padding: 15px 25px;
}

/* Pais */
.justify-start, .justify-center, .justify-between{
display: flex;
background-color: var(--color-bg-box);
padding: 15px;
margin-bottom: 15px;
gap: var(--gap);
}

/* Alinhado ao começo */
.justify-start{
    justify-content:start;
    justify-content: end;
}

/* Alinhado ao centro */
.justify-center{
    justify-content: center;
}

/* Alinhas items de forma igual */
.justify-between{
    justify-content: space-between;
    justify-content: space-around;
}

/* Align-Itens */
.align-center{
    display: flex;
    height: 180px;
    background-color: var(--color-bg-box);
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.align-center div{
    background-color: green;
    padding: 15px;
}

.align-center .grande{
    height: 100px;
    display: flex;
    align-items: center;
}

/* Gap */
.gap-exemplo{
    display: flex;
    gap: 30px;
    background-color: var(--color-bg-box);
    padding: 20px;
}

.gap-exemplo div{
    width: 70px;
    height: 70px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GRID */ 
.exemplo-grid{
    display: grid;
    gap: var(--gap);
    /* grid-template-columns: 30% 40% 30%;
    grid-template-rows: 200px 80px 600px; */
    grid-template: 1fr 2fr 1fr / 3fr 7fr ;
}

.exemplo-grid div{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 30px;
    text-align: center;
}

/* GRID TEMPLATE */
/* GRID-2-COLUNAS */
.grid-duas-colunas{
    display: grid;
    gap: var(--gap);
    grid-template-columns: 30% 70%;

}

.grid-duas-colunas div{
    background-color: blue;
    color: var(--color-white);
    padding: 30px;
    text-align: center;
}

/* GRID-4-COLUNAS */
.grid-quatro-colunas{
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(4, 1fr);
}

.grid-quatro-colunas div{
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
}

/* RESPONSIVIDADE */
@media (max-width: 700px) {
    .exemplo-inline-block div{
        width: 90%;
        margin: 12px;
    }

    .grid-duas-colunas{
        grid-template-columns: 100%;
    }

    .grid-quatro-colunas{
        grid-template-columns: repeat(2, 1fr);
    }
}